@import "../../styles/colors.css";

.welcomeMessage {
  font-family: Inter,sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -.8px;
  line-height: 24px;
  color: var(--color-black);
}

.welcomeMessage__email {
  color: var(--color-ultimate-gray);
  text-decoration: underline;
}

.welcomeMessage__appName {
  text-decoration: underline;
}
