@import "../../styles/colors.css";

.groupCard__container {
  position: relative;
  min-width: 300px;
  height: 200px;
  max-width: 450px;
  width: 100%;
  cursor: pointer;

  padding: 10px;
  margin: 10px;

  border-radius: 10px;
  background-color: var(--color-white);

  color: var(--color-ultimate-gray);

  font-family: Inter,sans-serif;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -.8px;
  line-height: 24px;
}

.groupCard__container:hover {
  color: var(--color-black);
  box-shadow: -20px 20px 40px var(--shadow-main);
}

.groupCard__container:hover .groupCard__addGroupIcon > svg {
  fill: var(--color-black);
}

.groupCard__addGroupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
.groupCard__addGroupIcon > svg {
  width: 120px;
  height: 120px;
  fill: var(--color-ultimate-gray);
}

.groupCard__name {
  font-size: 28px;
  line-height: 0;
}

.groupCard__description {
  font-weight: 500;
}

.groupCard__separator {
  height: 4px;
  width: 100%;

  background-color: var(--color-pantone);
}

.groupCard__membersCount {
  position: absolute;
  bottom: 10px;
  right: 10px;

  display: flex;
  align-items: center;

  font-size: 22px;
}

.groupCart__memberIconWrapper {
  width: 25px;
  height: 25px;
}

.groupCart__memberIconWrapper svg {
  width: 25px;
  height: 25px;
  fill: var(--color-ultimate-gray);
}

.groupCard__container:hover .groupCart__memberIconWrapper > svg {
  fill: var(--color-black);
}
